<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Edit book</div>
        <div class="panel-body">

            <form class="form-horizontal" role="form" th:object="${book}" th:method="patch" th:action="@{/books}">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"></input>
                </div>
                <div class="form-group">
                    <label for="title" class="col-sm-2 control-label">Title</label>
                    <input type="text" th:field="*{title}"></input>
                </div>
                <div class="form-group">
                    <label for="author" class="col-sm-2 control-label">Author</label>
                    <input type="text" th:field="*{author}"></input>
                </div>
                <div class="form-group">
                    <label for="isbn" class="col-sm-2 control-label">ISBN</label>
                    <input type="text" th:field="*{isbn}"></input>
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Comments</div>
        <div class="panel-body">

            <form class="form-horizontal" role="form" th:object="${book}" th:method="patch" th:action="@{/books}">
                <div class="form-group">
                    <input type="hidden" th:field="*{id}"></input>
                </div>

                <div class="form-group">
                    <label for="comment" class="col-sm-2 control-label">Comment</label>
                    <textarea th:field="*{comments[0].comment}" name="comment" id="comment" style="font-family:sans-serif;font-size:1.2em;"></textarea>
                </div>
                <button class="btn btn-default" type="submit">Add comment</button>
            </form>
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="comment : ${comments}">
                        <td th:text="${comment.date}"></td>
                        <td th:text="${comment.comment}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>